<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b56481">  <td>17/11/04 09:57:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CarTest.testChangeColor()[pri:0, instance:com.test.test.CarTest@6ea12c19]">testChangeColor</td> 
  <td>main@486898233</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>17/11/04 09:57:23</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CarTest.testChangeReceivedColor()[pri:0, instance:com.test.test.CarTest@6ea12c19]">testChangeReceivedColor</td> 
  <td>main@486898233</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>17/11/04 09:57:23</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CarTest.testGetColor()[pri:0, instance:com.test.test.CarTest@6ea12c19]">testGetColor</td> 
  <td>main@486898233</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>17/11/04 09:57:23</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CarTest.testGetModel()[pri:0, instance:com.test.test.CarTest@6ea12c19]">testGetModel</td> 
  <td>main@486898233</td>   <td></td> </tr>
</table>
